body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  background-color: transparent;
}


::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200; /* ExtraLight */
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Italic.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: italic;
}


/* ::selection {
  background-color: #FFC652; 
  color: #000000; 
}

::-moz-selection {
  background-color: #FFC652; 
  color: #000000; 
} */
