/* Header.css */

/* Styles for the menu button with dropdown */
.menu {
    position: relative;
    display: inline-block;
}

.tab-button {
    background: transparent;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tab-button:hover {
    color: #fc0000;
}

/* Dropdown menu styling */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #000000;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    color: #ffffff;
    transition: opacity 0.3s ease;
    z-index: 1000;
    white-space: nowrap; /* Ensure single line text */
    min-width: 200px; /* Adjust as needed */
}

.menu:hover .dropdown-menu {
    display: block;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 14px;
    transition: all linear 0.3s;
    position: relative;
    white-space: nowrap; 
}

.dropdown-menu li:hover {
    background: #fc0000;
    cursor: pointer;
    color: #ffffff;
}

/* Submenu styling */
.sub-menu {
    display: none;
    position: absolute;
    left: 100%; 
    top: 0;
    background: #000000;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    color: #ffffff;
    transition: opacity 0.3s ease;
    white-space: nowrap; 
    /* min-width: 200px;  */
}

.dropdown-menu li:hover .sub-menu {
    display: block;
}

.sub-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-menu li {
    padding: 14px;
    white-space: nowrap; /* Ensure single line text */
}

.sub-menu li:hover {
    background: #fc0000;
    color: #ffffff;
}

/* Header styles */
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  color: white;
  background-color: transparent; /* Default background color */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.header-transparent {
  background-color: transparent;
}

.header-scrolled {
  background-color: #000000; /* Change to black on scroll */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
